body {
    font-size: 18px;
}

.columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    text-align: left;
    margin: 0 auto;
    justify-content: center;
}

.article {
    display: flex;
    flex-direction: column;
    background: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    color: #666;
    /* display: inline-block; */
    width: 31%;
    margin: 10px;
}

img { /* адаптивные картинки */
    display: block;
    height: auto;
    max-width: 100%;
}

.zakaz-button{
    width: 150px;
}

/* ----------MAIN---------- */
.main {
    height: 100vh;
    background-image: url(../img/bg.jpg);
    background-size: cover;  
}
/* -----------END---------- */
/* ----------MAIN---------- */



/* ------------------------- */
/* ----------ABOUT---------- */
/* ------------------------- */
.about {
    background-color: #e7f1ff;
    padding: 10px 0 10px 0;
}
.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome__title {
    font-size: 1.5rem;
    font-weight: bold;
    padding-top: 50px;
}

.welcome__text {
    padding-bottom: 20px;
}

.welcome__text p {
    text-indent: 1.1em;
}
/* ------------------------- */
/* -----------END---------- */
/* ----------ABOUT---------- */
/* ------------------------- */


/* ----------POLOSKA---------- */

.poloska{ 
    box-shadow: 0 0 30px rgba(0,0,0,0.5); /* Параметры тени */   
}
.poloska_card{
    border: none;
}
/* ------------END---------- */
/* ----------POLOSKA---------- */

.war {
    margin-bottom: 10px;
}

.card-body {
    background-color: #e7f1ff;
}

.fa-bullseye {
    color: #DC3545;
    font-size: 2rem;
}

.navbar-brand p {
    color: #DC3545;
    margin-left: 30px;
    margin-top: 10px;
    font-size: 1.4rem;
    border: solid 2px #DC3545;
    border-radius: 50%;
    padding: 10px;
}

.navbar-text{
    padding-right: 1.5rem;
}


/* Страница Контактов */

.contact{
    background-image: url(../img/confull.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
}

.contact_data{
   
}

.yandex_map{
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
    margin: 20px 0 20px 0;  
}


.contact_tel p{
    display: inline;
    margin-left: 15px;
}

.contact_map{
    margin: 10px 0 10px 0;
}
.contact_mail{

}
.contact_mail p{
    display: inline;
    margin-left: 15px;
}
.contact_mail i{
    
}




.advantages{
    background-color: #e7f1ff;
}

.advantages-block{
    /* border: 1px solid grey; */
}

.advantages-logo i{
    font-size: 4rem;
    color: #DC3545;
}

.advantages-more{
    cursor: pointer;
    font-size: 0.8rem;

}

.advantages-description{
    text-indent: 1.2em;
}
